In [9]:
import pandas as pd

# Load the dataset
file_path = '/home/hwxu/Projects/Dataset/PKU/AMIA/Input/processed/dataset_reduced.csv'

df = pd.read_csv(file_path)
# Display the first few rows of the dataset to understand its structure
df.head()

,admission_id,hour,dobutamine,epinephrine,norepinephrine,phenylephrine,vasopressin,pulse,bilirubin_direct,bilirubin_total,...,ast,alt,paco2,gcs,albumin,hemoglobin,wbc,troponin_i,troponin_t,ck_mb
0,20019875,43.0,27.724768,0.627451,0.139182,0.882353,0.9,80.333336,0.4,0.6,...,31.0,36.0,55.0,3.0,3.0,6.6,21.200000,NaN,0.53,15.0
1,20019875,44.0,27.724768,0.366667,0.730213,0.882353,0.9,79.666664,0.4,0.6,...,31.0,36.0,51.0,3.0,3.0,6.6,19.683332,NaN,0.53,15.0
2,20019875,45.0,27.724768,0.105882,0.440599,0.882353,0.9,80.500000,0.4,0.6,...,31.0,36.0,47.0,3.0,3.0,6.6,18.166666,NaN,0.53,15.0
3,20019875,46.0,27.724768,0.154902,0.150985,0.882353,0.9,80.000000,0.4,0.6,...,31.0,36.0,44.0,3.0,3.0,6.6,16.650000,NaN,0.53,15.0
4,20019875,47.0,27.724768,0.152629,0.564643,0.882353,0.9,81.000000,0.4,0.6,...,31.0,36.0,41.0,3.0,3.0,6.6,15.133333,NaN,0.53,15.0

In [10]:
df.columns

Index(['admission_id', 'hour', 'dobutamine', 'epinephrine', 'norepinephrine',
       'phenylephrine', 'vasopressin', 'pulse', 'bilirubin_direct',
       'bilirubin_total', 'glucose', 'd_dimer', 'fibrinogen', 'thrombin',
       'inr', 'pt', 'ptt', 'potassium', 'calcium', 'chloride', 'urineoutput',
       'bun', 'creatinine', 'spo2', 'fio2', 'base_excess', 'ph', 'temperature',
       'ast', 'alt', 'paco2', 'gcs', 'albumin', 'hemoglobin', 'wbc',
       'troponin_i', 'troponin_t', 'ck_mb'],
      dtype='object')

In [11]:

df['RenDys'] = (
    (df['creatinine'] > 1.3) | 
    (df['urineoutput'] < 30) |
    (df['urineoutput'] > 50) |
    (df['bun'] > 20)
).astype(int)

df['LyteImbal'] = (
    (df['calcium'] > 10.5) | 
    (df['chloride'] > 106) |
    (df['chloride'] < 98) |
    (df['potassium'] > 5.0)
).astype(int)

df['O2TxpDef'] = (
    (df['hemoglobin'] < 12)
).astype(int)

df['Coag'] = (
    (df['ptt'] > 35) | 
    (df['fibrinogen'] < 233) |
    (df['d_dimer'] > 0.5) |
    (df['thrombin'] > 20) |
     (df['inr'] > 1.5)
).astype(int)

df['MalNut'] = (
    (df['albumin'] < 3.3)
).astype(int)

df['Chole'] = (
    (df['bilirubin_direct'] > 0.3) | 
    (df['bilirubin_total'] > 1.0)
).astype(int)

df['HepatoDys'] = (
    (df['ast'] > 40) | 
    (df['alt'] > 40)
).astype(int)

df['HypGly'] = (
    (df['glucose'] > 125)
).astype(int)

df['MyoIsch'] = (
    (df['troponin_t'] > 0.04)
).astype(int)

df['CNSDys'] = (
    (df['troponin_t'] > 0.04)
).astype(int)

df['O2DiffDys'] = (
    (df['spo2'] < 92) |
    (df['fio2'] > 21)
).astype(int)

df['ThermoDys'] = (
    (df['temperature'] < 36) |
    (df['temperature'] > 38)
).astype(int)

df['Tachy'] = (
    (df['pulse'] > 90)
).astype(int)

df['VasoSprt'] = (df[['dobutamine', 'epinephrine', 'norepinephrine', 'phenylephrine', 'vasopressin']] > 0).any(axis=1).astype(int)

In [12]:
df.columns

Index(['admission_id', 'hour', 'dobutamine', 'epinephrine', 'norepinephrine',
       'phenylephrine', 'vasopressin', 'pulse', 'bilirubin_direct',
       'bilirubin_total', 'glucose', 'd_dimer', 'fibrinogen', 'thrombin',
       'inr', 'pt', 'ptt', 'potassium', 'calcium', 'chloride', 'urineoutput',
       'bun', 'creatinine', 'spo2', 'fio2', 'base_excess', 'ph', 'temperature',
       'ast', 'alt', 'paco2', 'gcs', 'albumin', 'hemoglobin', 'wbc',
       'troponin_i', 'troponin_t', 'ck_mb', 'RenDys', 'LyteImbal', 'O2TxpDef',
       'Coag', 'MalNut', 'Chole', 'HepatoDys', 'HypGly', 'MyoIsch', 'CNSDys',
       'O2DiffDys', 'ThermoDys', 'Tachy', 'VasoSprt'],
      dtype='object')

In [13]:
df[['admission_id', 'hour', 'RenDys', 'LyteImbal', 'O2TxpDef', 'Coag', 'MalNut', 'Chole', 'HepatoDys', 'HypGly', 'MyoIsch', 'CNSDys', 'ThermoDys', 'VasoSprt']].to_csv('/home/hwxu/Projects/Dataset/PKU/AMIA/Input/processed/dataset_derangement.csv', index=False)