In [2]:
import pandas as pd

# Load the dataset
file_path = 'Input/processed/dataset_reduced.csv'

df = pd.read_csv(file_path)
# Display the first few rows of the dataset to understand its structure
df.head()

,admission_id,hour,gcs,urineoutput,bun,creatinine,glucose,dobutamine,epinephrine,norepinephrine,...,base_excess,ph,albumin,troponin_i,troponin_t,ck_mb,temperature,bilirubin_direct,bilirubin_total,paco2
0,20000094,15,15.0,12.500000,99.000000,3.800000,253.00000,69.565216,0.206096,1.623472,...,3.000000,7.410000,3.600000,0.0,1.080000,35.000000,34.5,1.700000,2.500000,47.0
1,20000094,16,15.0,28.461538,16.846153,1.030769,129.30770,16.336096,0.301178,0.339377,...,3.615385,7.413077,3.461539,0.0,0.918462,30.076923,34.9,1.761538,2.353846,47.0
2,20000094,17,15.0,28.750000,32.250000,1.555000,152.50000,38.111645,0.262281,0.910564,...,3.000000,7.410000,3.600000,0.0,1.080000,35.000000,34.5,1.700000,2.500000,47.0
3,20000094,18,15.0,21.666666,39.666668,1.813333,163.66667,27.627121,0.281009,0.611761,...,3.000000,7.410000,3.600000,0.0,1.080000,35.000000,34.5,1.700000,2.500000,47.0
4,20000094,19,15.0,30.000000,10.000000,0.800000,119.00000,63.783720,0.281009,0.457626,...,3.000000,7.410000,3.600000,0.0,1.080000,35.000000,34.5,1.700000,2.500000,47.0

In [3]:
df.columns

Index(['admission_id', 'hour', 'gcs', 'urineoutput', 'bun', 'creatinine',
       'glucose', 'dobutamine', 'epinephrine', 'norepinephrine',
       'phenylephrine', 'vasopressin', 'hemoglobin', 'ast', 'alt', 'pulse',
       'potassium', 'calcium', 'chloride', 'wbc', 'd_dimer', 'fibrinogen',
       'thrombin', 'inr', 'pt', 'ptt', 'spo2', 'fio2', 'base_excess', 'ph',
       'albumin', 'troponin_i', 'troponin_t', 'ck_mb', 'temperature',
       'bilirubin_direct', 'bilirubin_total', 'paco2'],
      dtype='object')

In [4]:

df['RenDys'] = (
    (df['creatinine'] > 1.3) | 
    (df['urineoutput'] < 30) |
    (df['urineoutput'] > 50) |
    (df['bun'] > 20)
).astype(int)

df['LyteImbal'] = (
    (df['calcium'] > 10.5) | 
    (df['chloride'] > 106) |
    (df['chloride'] < 98) |
    (df['potassium'] > 5.0)
).astype(int)

df['O2TxpDef'] = (
    (df['hemoglobin'] < 12)
).astype(int)

df['Coag'] = (
    (df['ptt'] > 35) | 
    (df['fibrinogen'] < 233) |
    (df['d_dimer'] > 0.5) |
    (df['thrombin'] > 20) |
     (df['inr'] > 1.5)
).astype(int)

df['MalNut'] = (
    (df['albumin'] < 3.3)
).astype(int)

df['Chole'] = (
    (df['bilirubin_direct'] > 0.3) | 
    (df['bilirubin_total'] > 1.0)
).astype(int)

df['HepatoDys'] = (
    (df['ast'] > 40) | 
    (df['alt'] > 40)
).astype(int)

df['HypGly'] = (
    (df['glucose'] > 125)
).astype(int)

df['MyoIsch'] = (
    (df['troponin_t'] > 0.04)
).astype(int)

df['CNSDys'] = (
    (df['troponin_t'] > 0.04)
).astype(int)

df['O2DiffDys'] = (
    (df['spo2'] < 92) |
    (df['fio2'] > 21)
).astype(int)

df['ThermoDys'] = (
    (df['temperature'] < 36) |
    (df['temperature'] > 38)
).astype(int)

df['Tachy'] = (
    (df['pulse'] > 90)
).astype(int)

df['VasoSprt'] = (df[['dobutamine', 'epinephrine', 'norepinephrine', 'phenylephrine', 'vasopressin']] > 0).any(axis=1).astype(int)

In [5]:
df.columns

Index(['admission_id', 'hour', 'gcs', 'urineoutput', 'bun', 'creatinine',
       'glucose', 'dobutamine', 'epinephrine', 'norepinephrine',
       'phenylephrine', 'vasopressin', 'hemoglobin', 'ast', 'alt', 'pulse',
       'potassium', 'calcium', 'chloride', 'wbc', 'd_dimer', 'fibrinogen',
       'thrombin', 'inr', 'pt', 'ptt', 'spo2', 'fio2', 'base_excess', 'ph',
       'albumin', 'troponin_i', 'troponin_t', 'ck_mb', 'temperature',
       'bilirubin_direct', 'bilirubin_total', 'paco2', 'RenDys', 'LyteImbal',
       'O2TxpDef', 'Coag', 'MalNut', 'Chole', 'HepatoDys', 'HypGly', 'MyoIsch',
       'CNSDys', 'O2DiffDys', 'ThermoDys', 'Tachy', 'VasoSprt'],
      dtype='object')

In [7]:
df[['admission_id', 'hour', 'RenDys', 'LyteImbal', 'O2TxpDef', 'Coag', 'MalNut', 'Chole', 'HepatoDys', 'HypGly',
    'MyoIsch', 'CNSDys', 'ThermoDys', 'VasoSprt']].to_csv('Input/processed/dataset_derangement.csv', index=False)